
.dice-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-display img {
    width: 400px;
}

.dice-display h1 {
    position: absolute;
    padding-bottom: 20px;
    font-size: xxx-large;
}
